.about-content{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.about-main-page {
    text-align: center;
    max-width: 1000px;
}

.title {
    padding-top: 1.5em;
    font-size: 2.5rem;
    font-weight: bold;
}

.subtitle {
    font-size: 1.8rem;
    font-weight: bold;
    padding-top: 1.5em;
}

p {
    padding: 0.5em;
}
